= f.input :name        , label: 'Название'
= f.input :description , label: 'Описание'
= f.input :price       , label: 'Цена'
= f.input :image       , label: 'Изображение'
= f.input :user_id     , label: 'Создатель'
= f.input :shop_id     , label: 'Магазин'
= f.input :category_id , label: 'Категория'
